<% if (fname && lname) { %>
    <div style="font-size: 20px; margin-top: 20px">
        <ul>
            <li><a href='https://docs.google.com/forms/u/0/d/e/1FAIpQLScEzce3ijX91IC8-IAIelCQwHZyQODuRghqYLBmTnwnIqR17w/formResponse?usp=pp_url&entry.1119367666=<%= lname %>&entry.1588335932=<%= fname %>&entry.291473352=Logging+In&continue=1&entry.1712424088=No&entry.529499866=No&entry.1540950821=No&entry.1850710665=No&pageHistory=0,1'
                    target="_blank">Link to prefilled login form</a></li>
            <li><a href='https://docs.google.com/forms/u/0/d/e/1FAIpQLScEzce3ijX91IC8-IAIelCQwHZyQODuRghqYLBmTnwnIqR17w/viewform?usp=pp_url&entry.1119367666=<%= lname %>&entry.1588335932=<%= fname %>&entry.291473352=Logging+out' target="_blank">Link to prefilled logout form</a></li>
        </ul>
    </div>
    <% } %>