<% if (email && name) { %>
    <div style="font-size: 20px; margin-top: 20px">
        <ul>
            <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfolfCGPR-H51MoOCCBNVDMLrcCoKL2qD5OPTOZ2mZjhVu2DA/formResponse?usp=pp_url&emailAddress=<%= email %>&entry.1631591090=<%= name %>&entry.1345979099=signing+in?&continue=1&entry.624400441=No&entry.1303322161=No&entry.1448180951=No&entry.493362846=No&entry.915509347=No&entry.1282095815=Yes'
                    target="_blank">Link to signing in the WRT form</a></li>
            <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSfolfCGPR-H51MoOCCBNVDMLrcCoKL2qD5OPTOZ2mZjhVu2DA/formResponse?usp=pp_url&emailAddress=<%= email %>&entry.1631591090=<%= name %>&entry.1345979099=signing+out?' target="_blank">Link to signing out the WRT form</a></li>
            </li>
        </ul>
    </div>
    <% } %>